<!-- @author andre-->
<div class="container">

  <div class="ui-g">
    <!-- Pega o formulário e verifica se os campos estão validos (required is true)-->
    <div *ngIf="usuarioForm.invalid && usuarioForm.dirty" class="alert alert-danger">
      *Preencha todos os campos corretamente.
    </div>
    <form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
      <div class="ui-g-12">
        <h1>Faça o seu cadastro</h1>
      </div>
      <div class="ui-g-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>
      <div class="ui-g-12">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText name="nome" ngModel required minlength="3">
          <!-- ngModel cria uma instancia de controle de formulario e vincula com o input
             (O angular está gerenciando esté formulário)-->
          <label for="float-input">{{tipo.value === 'Pessoa Jurídica' ? 'Razão Social' : 'Nome'}}</label>
          <!-- Usando o button 'tipo' para manipular a label nome/razão-social (mesma coisa com o cpf/cnpj)-->
        </span>
      </div>
      <div class="ui-g-12">
        <span class="p-float-label">
          <input id="float-input" type="email" pInputText name="email" ngModel required email>
          <label for="float-input">Email</label>
        </span>
      </div>
      <div class="ui-g-6">
        <span class="p-float-label">
          <input type="password" pPassword name="senha" ngModel required minlength="8" />
          <label for="float-input">Senha</label>
        </span>
      </div>
      <div class="ui-g-6">
        <span class="p-float-label">
          <input type="password" pPassword name="cSenha" ngModel required minlength="8" />
          <label for="float-input">Confirme a senha</label>
        </span>
      </div>
      <div class="ui-g-6 ">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText name="cpf" ngModel required minlength="11" />
          <label for="float-input">{{tipo.value === 'Pessoa Jurídica' ? 'CNPJ' : 'CPF'}}</label>
        </span>
      </div>
      <div class="ui-g-12">
        <h1>Endereço</h1>
        <h4>Esse será o endereço de cobrança. Ao fechar seu pedido pediremos o endereço de entrega. Atenção! Não fazemos
          entregas em endereço de Caixa Postal.</h4>
      </div>
      <div class="ui-g-6">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText name="pais" ngModel>
          <label for="float-input">País</label>
        </span>
      </div>
      <div class="ui-g-6">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText name="cep" ngModel>
          <label for="float-input">CEP</label>
        </span>
      </div>
      <div class="ui-g-6">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText name="estado" ngModel>
          <label for="float-input">Estado</label>
        </span>
      </div>
      <div class="ui-g-6">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText name="cidade" ngModel>
          <label for="float-input">Cidade</label>
        </span>
      </div>
      <div class="ui-g-6">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText name="bairro" ngModel>
          <label for="float-input">Bairro</label>
        </span>
      </div>
      <div class="ui-g-6">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText name="rua" ngModel>
          <label for="float-input">Rua</label>
        </span>
      </div>
      <div class="ui-g-6">
        <span class="p-float-label">
          <input id="float-input" type="number" pInputText name="numero" ngModel>
          <label for="float-input">Numero</label>
        </span>
      </div>
      <div class="ui-g-6">
        <span class="p-float-label">
          <input id="float-input" type="tel" pInputText name="telefone" ngModel>
          <label for="float-input">Telefone</label>
        </span>
      </div>
      <div class="ui-g-12">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText name="complemento" ngModel>
          <label for="float-input">Complemento (opcional)</label>
        </span>
      </div>

      <button pButton type="submit" label="Cadastrar" onclick="" [disabled]="!usuarioForm.valid"></button>
    </form>
  </div>
</div>
