<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Faça o seu cadastro</h1>
    </div>
    <div class="ui-g-6">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText>
        <label for="float-input">Nome</label>
      </span>
    </div>
    <div class="ui-g-6 ">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText>
        <label for="float-input">Sobrenome</label>
      </span>
    </div>
    <div class="ui-g-12">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText>
        <label for="float-input">Email</label>
      </span>
    </div>
    <div class="ui-g-6">
      <span class="p-float-label">
        <input type="password" pPassword />
        <label for="float-input">Senha</label>
      </span>
    </div>
    <div class="ui-g-6">
      <span class="p-float-label">
        <input type="password" pPassword />
        <label for="float-input">Confirme a senha</label>
      </span>
    </div>
    <div class="ui-g-12">
      <h1>Endereço</h1>
    </div>
    <div class="ui-g-6">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText>
        <label for="float-input">C</label>
      </span>
    </div>
    <div class="ui-g-6">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText>
        <label for="float-input">Nome</label>
      </span>
    </div>
  </div>
</div>