.ui-g{
  margin: auto;
  background: white;
  border: none;
  border-radius: 0.50rem;
  width: 85%;
}
.ui-g-6{
  display: inline-block;
  padding: 1rem 5rem;
  width: 50%;

}
.ui-g-12{
  padding: 1rem 5rem;
  width: 100%;
}
.p-inputtext{
  width: 100%;
}

@media(max-width: 800px) {
  
 
  .ui-g-6{
    display:block;
    width: 100%;
  }
  
}