<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Livraria Paraíba</title>

</head>
<body>

	<div class="container">
		<h2>Editar Pessoa</h2>
		<form action="#" th:action="@{/autor/salvar}" th:object="${autor}" method="POST">
			
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></span>
			<input type="text" th:field="*{nome}" placeholder="Nome" class="form-control">
      		
      		
			<button type="submit" class="btn">Salvar</button>
		</form>
		<hr>
		<a th:href="@{/autores}">Retornar para a lista de autores</a>
	</div>
</body>
</html>