<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" <head>
<meta charset="UTF-8" />
<title>Livraria Paraíba</title>
<link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
</head>

<body>
	<nav class="navbar">
			<div class="ui-g-12">
				<h1>Livraria Paraíba</h1>
			</div>
	</nav>
	
	<div class="ui-g">
		<h1>Autores</h1>
		<a th:href="@{/autores/novo}" class="btn incluir">Incluir Autor</a>
		<table border="1" class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="autor : ${listaAutores}">
					<td th:text="${autor.ID}"></td>
					<td th:text="${autor.nome}"></td>
					<td>
						<a th:href="@{/autor/{id}(id=${autor.ID})}" class="btn alterar">Alterar</a>
						|
						<a th:href="@{/autor/excluir/{id}(id=${autor.ID})}" class="btn excluir">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<footer>
	<p>Todos os direitos reservados.</p>
</footer>

</html>