<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width" />
<title>Lista de todos os Autores</title>
    <link href="/css/bootstrap.min.css" type="text/css"
    rel="stylesheet"/>
    
</head>
    <body>
    	<h1>Lista de todos os autores</h1>
        <div class="panel-body">

            <table class="table">
            <thead> <tr>
                <th>Nome</th>
                <th>ID</th>
                </tr>
            </thead>
                    <tbody>
                        <tr th:each="autor : ${listaAutores}">
						<td th:text="${autor.nome}"></td>
						<td th:text="${autor.ID}"></td>
				</tr>
                    </tbody>
            </table>
        </div>
    </body>
    <footer>
	<p>Todos os direitos reservados.</p>
</footer>
</html>
