<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8" />
	<title>Livraria Paraíba</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

	<style type="text/css">
		div.area {
			overflow: auto;
		}

		label.campo_input,
		label.txt_desc,
		btn_autor {
			display: block;
			width: 90px;
		}

		textarea {
			resize: none;
			width: 170px;
		}

		#addAutor {
			width: 75px;
			height: 20px;
		}
	</style>

	<script th:inline="javascript">
		/*<![CDATA[*/
		document.addEventListener('DOMContentLoaded', function () {
			var focusId = /*[[${fieldToFocus}]]*/ '';
			document.getElementById(focusId).focus();
			document.getElementById(focusId).select();
		}, false);
/*]]>*/
	</script>
</head>

<body>
	<header th:insert="fragments/cabecalho.html :: header"> </header>
	<div class="container">
	<h1>Cadastro de Livro</h1>
		<form action="#" th:action="@{/livros/salvar}" th:object="${livro}" method="post" id="editarFormLivro">
			<fieldset>
				<label class=campo_input>Nome </label><input th:field="*{nome}">
				<label class=campo_input>ISBN </label><input th:field="*{isbn}">
				<label class=campo_input>Valor </label><input th:field="*{valor}">
				<p>
				<div class="table-responsive">
					<span th:if="${#fields.hasErrors('autores')}" th:errors="*{autores}"
									class="text-danger"></span>
					<table class="table table-hover">
						<thead class="thead-white">
							<tr>
								<th scope="col">Nome do Autor(es)</th>
								<th scope="col"><button type="submit" name="addAutor" class="btn btn-outline-dark">
										<i class="fas fa-plus-circle"></i>
									</button></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="autor,autorStat : *{autores}">
								<th scope="row" th:text="${autorStat.count}"><input type="hidden"
										th:field="*{autores[__${autorStat.index}__].id}">
								</th>
								<td><input id="inpAutor" placeholder="Adicione um por vez" type="text"
										th:field="*{autores[__${autorStat.index}__].nome}" />
									<button type="submit" name="removeAutor" th:value="${autorStat.index}" class="btn btn-outline-dark">
									<i class="fas fa-minus-circle"></i></td>
									</button>
							</tr>
						</tbody>
					</table>
				</div>
				<a target="_blank" th:href="@{/autores/novo}" class="btn incluir">Incluir Autor</a>
				<label class=campo_input>Gênero</label>
				<select th:field="*{genero}">
					<option
						th:each="tipoOpc : ${T(br.edu.ifpb.dac.livrariaParaiba.model.GenerosTipos).values()}"
						th:value="${tipoOpc}" th:text="${tipoOpc.toString}">
					</option>
				</select>
				<label class=txt_desc>Descrição </label><textarea class="container-fluid" id="descricao" rows="5" th:field="*{descricao}"></textarea>
				<label class=campo_input>Edição </label><input th:field="*{edicao}">
				<label class=campo_input>Quantidade de páginas </label> <input type="number" th:field="*{nPaginas}">
				<label class=campo_input>Quantidade em estoque </label> <input type="number" th:field="*{quantidade}">
				<hr>
				<input class="btn btn-primary" type="submit" value="Salvar livro">
			</fieldset>
		</form>
	</div>
</body>
<footer>
<hr>
	<p>&COPY;Todos os direitos reservados</p>
</footer>

</html>