<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
 <title>Livraria Paraíba</title>
</head>
<body>
<nav class="navbar">
			<div class="ui-g-12">
				<h1>Livraria Paraíba</h1>
			</div>
	</nav>
	
	<div class="ui-g">
		<h1>Livros</h1>
		<a th:href="@{/livros/novo}" class="btn incluir">Incluir Livro</a>
		<table border="1" class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Valor</th>
					<th>quantidade</th>
					<th>descricao</th>
					<th>isbn</th>
					<th>autores</th>
					<th>paginas</th>
					<th>edicao</th>
					<th>genero</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="livro : ${listaLivros}">
					<td th:text="${livro.id}"></td>
					<td th:text="${livro.nome}"></td>
					<td th:text="${livro.valor}"></td>
					<td th:text="${livro.quantidade}"></td>
					<td th:text="${livro.descricao}"></td>
					<td th:text="${livro.isbn}"></td>
					<td th:text="${livro.autores}"></td>
					<td th:text="${livro.nPaginas}"></td>
					<td th:text="${livro.edicao}"></td>
					<td th:text="${livro.genero}"></td>
					<!--<td>
						<a th:href="@{/livro/{id}(id=${autor.ID})}" class="btn alterar">Alterar</a>
						|
						<a th:href="@{/autor/excluir/{id}(id=${autor.ID})}" class="btn excluir">Excluir</a>
					</td>-->
				</tr>
			</tbody>
		</table>
		<nav aria-label="...">
		    <ul class="pagination">
			    <li th:if="${listaLivros.totalPages > 0}" th:each="numeroPagina : ${numerosPaginas}" 
			    	th:class="${numeroPagina==listaLivros.number + 1} ? 'page-item active' : 'page-item'">
			    	<a class="page-link" th:href="@{/livro/livros(size=${listaLivros.size}, page=${numeroPagina})}"
			        th:text=${numeroPagina}></a>
			    </li>
		    </ul>
		</nav>
	</div>
</body>
<footer>
	<p>Todos os direitos reservados.</p>
</footer>
</html>