/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #054f77;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f0f2f7;
}

@media(max-width: 800px) {
  
  .container{
    margin: 0 auto;
    width: 100%;
  }
}
